<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
 <!-- <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro  '$(find zerog_description)/urdf/zerog.xacro'
    wall_prefix:=wall_arm_
    ceiling_prefix:=ceiling_arm_
    wall_track_prefix:=wall_track_
    ceiling_track_prefix:=ceiling_track"  
  />-->
 

  <!-- The semantic description that corresponds to the URDF -->
  <!-- mrm: 04-05-2022: simply change the srdf name to zerog_moveit_servo.srdf when using zerog_moveit_servo package 
  Otherwise switch to the normal zerog.srdf -->
  <param name="$(arg robot_description)_semantic" textfile="$(find zerog_moveit_config)/config/zerog_moveit_servo.srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find zerog_moveit_config)/config/joint_limits.yaml"/>
    <rosparam command="load" file="$(find zerog_moveit_config)/config/cartesian_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find zerog_moveit_config)/config/kinematics.yaml"/>

  </group>

</launch>
