<?xml version="1.0" ?>

<robot name="zerog" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:arg name ="wall_prefix" default="wall_arm_"/>
    <xacro:arg name ="ceiling_prefix" default="ceiling_arm_"/>
    <xacro:arg name ="wall_track_prefix" default="wall_track_"/>
    <xacro:arg name ="ceiling_track_prefix" default="ceiling_track_"/>

	<!-- <xacro:arg name ="wall_prefix" default="w_a_"/>
    <xacro:arg name ="ceiling_prefix" default="c_a_"/>
    <xacro:arg name ="wall_track_prefix" default="w_t_"/>
    <xacro:arg name ="ceiling_track_prefix" default="c_t_"/>  -->

	<xacro:arg name="effort_control" default="false"/>
	<xacro:arg name="velocity_control" default="false"/>

	<!-- parameters -->
	<xacro:arg name="joint_limit_params" default="$(find zerog_description)/config/ur10e/joint_limits.yaml"/>
	<xacro:arg name="kinematics_params" default="$(find zerog_description)/config/ur10e/default_kinematics.yaml"/>
	<xacro:arg name="physical_params" default="$(find zerog_description)/config/ur10e/physical_parameters.yaml"/>
	<xacro:arg name="visual_params" default="$(find zerog_description)/config/ur10e/visual_parameters.yaml"/>

	<xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
	<xacro:arg name="safety_limits" default="false"/>
	<xacro:arg name="safety_pos_margin" default="0.15"/>
	<xacro:arg name="safety_k_position" default="20"/>


	<xacro:include filename="$(find zerog_description)/urdf/inc/zerog_system.xacro"/>
	<xacro:zerog_system  
		wall_prefix ="$(arg wall_prefix)"
		ceiling_prefix = "$(arg ceiling_prefix)"
		wall_track_prefix = "$(arg wall_track_prefix)"
		ceiling_track_prefix = "$(arg ceiling_track_prefix)"
		effort_control = "$(arg effort_control)"
		velocity_control = "$(arg velocity_control)"
		joint_limit_params = "$(arg joint_limit_params)"
		physical_params = "$(arg physical_params)"
		visual_params = "$(arg visual_params) "
		transmission_hw_interface = "$(arg transmission_hw_interface)"
		safety_limits = "$(arg safety_limits) "
		safety_pos_margin = "$(arg safety_pos_margin) "
		safety_k_position = "$(arg safety_k_position) " />


</robot>
